<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CompanyName" value="Superposition Technologies, S.A." />
    <add key="CorporateGroup" value="SPOS Group" />
    <add key="Division" value="TechECS_EU" />
    <add key="AppTitle" value="SPOS Group // TechECS Environment Control Suite" />
    <add key="CorporateCommandsFolder" value="C:\ProgramData\SPOSGroup\TechECS_EU\Bin" />
  </appSettings>
</configuration>
